nltk
scipy
scikit-learn
statsmodels
pandas
numpy
tqdm
opencv-python
matplotlib
easyocr
pytesseract
pymupdf
pypdf
transformers
accelerate
phonetics
geopandas
seaborn
google-generativeai
ipykernel
ipywidgets
cupy-cuda12x
spacy
rapidfuzz
unidecode
shapely
linearmodels
qwen-vl-utils
bitsandbytes
hf_xet